Repository astrolabsoftware/fink-science, pull requests merged in 2023-04, with the labels that each got.

#285 Fix chan_vese new arg name
  fink_science/image_classification/image_classification.py
Labels: bug, image classification

#288 Clean dependencies in the CI
  .github/workflows/run_test.yml
  .gitignore
Labels: dependencies

#286 subset Y1 elasticc train
  fink_science/data/models/snn_models/elasticc_broad/cli_args.json
  fink_science/data/models/snn_models/elasticc_broad/data_norm.json
  fink_science/data/models/snn_models/elasticc_broad/model.pt
  fink_science/data/models/snn_models/elasticc_broad/training_log.json
  fink_science/data/models/snn_models/elasticc_ia/cli_args.json
  fink_science/data/models/snn_models/elasticc_ia/data_norm.json
  fink_science/data/models/snn_models/elasticc_ia/model.pt
  fink_science/data/models/snn_models/elasticc_ia/training_log.json
Labels: model, elasticc
