Repository astrolabsoftware/fink-science, pull requests merged in 2024-02, with the labels that each got.

#369 AAD model update (55 reactions)
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD.zip
Labels: anomaly detection

#374 Fix test for AD module
  fink_science/anomaly_detection/processor.py
Labels: test, anomaly detection

#376 Prevent KeyError for AD if only zero/one feature bands exist
  fink_science/anomaly_detection/processor.py
Labels: bug, anomaly detection
