Repository astrolabsoftware/fink-science, pull requests merged in 2024-11, with the labels that each got.

#462 Rename model names and restore anomaly tests
  fink_science/anomaly_detection/processor.py
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_alpha.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_beta.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_delta.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_epsilon.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_gamma.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_omega.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_theta.zip
  run_tests.sh
Labels: bug, anomaly detection

#464 Upload models without root folder
  .github/workflows/run_test.yml
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_alpha.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_beta.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_delta.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_epsilon.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_gamma.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_omega.zip
  fink_science/data/models/anomaly_detection/anomaly_detection_forest_AAD_theta.zip
Labels: bug, anomaly detection

#468 Add multiple initial configurations for the SSOFT/ssHG1G2 model
  fink_science/ssoft/processor.py
Labels: ssoft

#470 Use eproc for ssHG1G2 phase shift
  fink_science/ssoft/processor.py
Labels: ssoft

#475 Add missing obliquity for ssHG1G2
  fink_science/ssoft/processor.py
Labels: ssoft

#480 model with Fink version
  fink_science/data/models/for_al_loop/model_20241122_wlimits.pkl
Labels: active learning
